@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.htmx-indicator {
		visibility: hidden;
		transition: opacity 500ms, visibility 500ms ease-in !important;
		transition-delay: 500ms !important;
	}
	.htmx-request .htmx-indicator {
		visibility: visible;
	}
	.htmx-request.htmx-indicator {
		visibility: visible;
	}
}
